.wrapper {
  display: grid;
  grid-template-areas:
          "sidebar header"
          "sidebar main"
;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;

  aside.main {
    grid-area: sidebar;
  }
}